@{
	ViewData["Title"] = "Sushi";
}

	<div class="catalog">
		<div class="block">
			<div class="section1">
				<img class="catalog-img" src="../img/sushi/fidelfia.png" alt="">
				<h1 class="description">
					Фіадельфія Звичайна<br> 320 г <br> 400 грн
				</h1>
			</div>
		</div>
        <div class="block">
            <div class="section1">
                <img class="catalog-img" src="../img/sushi/enigma.png" alt="">
                <h1 class="description">
                    Енігма<br> 300 г <br> 350 грн
                </h1>
            </div>
        </div>
        <div class="block">
            <div class="section1">
                <img class="catalog-img" src="../img/sushi/sakura.png" alt="">
                <h1 class="description">
                    Сакура<br> 290 г <br> 480 грн
                </h1>
            </div>
        </div>
        <div class="block">
            <div class="section1">
                <img class="catalog-img" src="../img/sushi/felix_crab.png" alt="">
                <h1 class="description">
                    Фелікс з крабом<br> 305 г <br> 380 грн
                </h1>
            </div>
        </div>
        <div class="block">
            <div class="section1">
                <img class="catalog-img" src="../img/sushi/itachi.png" alt="">
                <h1 class="description">
                    Ітачі<br> 320 г <br> 390 грн
                </h1>
            </div>
        </div>
        <div class="block">
            <div class="section1">
                <img class="catalog-img" src="../img/sushi/california.png" alt="">
                <h1 class="description">
                    Каліфорнія з крабом<br> 300 г <br> 410 грн
                </h1>
            </div>
        </div>
        <div class="block">
            <div class="section1">
                <img class="catalog-img" src="../img/sushi/red_drag.png" alt="">
                <h1 class="description">
                    Червоний дракон<br> 325 г <br> 530 грн
                </h1>
            </div>
        </div>
        <div class="block">
            <div class="section1">
                <img class="catalog-img" src="../img/sushi/california_tun.png" alt="">
                <h1 class="description">
                    Каліфорнія з тунцем<br> 290 г <br> 520 грн
                </h1>
            </div>
        </div>
	</div>
